version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mobilemed
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: nest-backend
    restart: always
    env_file: .env
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  postgres_data:
