<div class="w-full flex flex-col border rounded-2xl shadow-lg shadow-gray-400 bg-white">
  <div class="bg-blue-500 text-white px-10 py-7 shadow-lg rounded-t-2xl">
    <h1 class="text-3xl font-semibold">Exames</h1>
    <span class="text-sm opacity-80 flex items-center gap-1">
      <mat-icon fontIcon="home" class="text-white opacity-80 text-xs"></mat-icon>
      / Exames
    </span>
  </div>

  <div class="w-full flex items-center justify-between px-6 py-4 border-b">
    <div class="flex items-center gap-3">
      <button
        mat-icon-button
        matTooltip="Adicionar novo exame"
        class="!bg-blue-500 !text-white w-12 h-12 flex items-center justify-center rounded-full hover:!shadow-md hover:!bg-blue-600" (click)="openForm()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Filtros"
        class="!bg-blue-500 !text-white w-12 h-12 flex items-center justify-center rounded-full hover:!shadow-md hover:!bg-blue-600"
        (click)="showFilters = !showFilters"
      >
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </div>

  <mat-accordion *ngIf="showFilters" class="border-b px-6 py-4 bg-gray-50">
    <div class="grid gap-4">
      <mat-form-field class="w-full">
        <mat-label>Modalidade DICOM</mat-label>
        <mat-icon matPrefix class="opacity-70 mr-1">medical_services</mat-icon>
        <mat-select [(value)]="selectedModality" [formControl]="dicomModalityControl">
          <mat-option *ngFor="let m of modalities" [value]="m">{{ m }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full">
          <mat-label>Nome</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput placeholder="Digite o nome" [formControl]="nameControl" />
      </mat-form-field>

      <mat-form-field class="w-full">
          <mat-label>Profissional</mat-label>
          <input matInput placeholder="Digite o nome do Profissional" [formControl]="responsibleDoctorControl" />
          <mat-icon matPrefix>badge</mat-icon>
      </mat-form-field>
    </div>

    <div class="flex justify-end gap-3 mt-4">
      <button mat-stroked-button color="warn" (click)="clearFilters()">Limpar</button>
      <button mat-flat-button color="primary" (click)="applyFilters()">Aplicar</button>
    </div>
  </mat-accordion>

  <div class="p-6 overflow-auto">
    <table mat-table [dataSource]="dataSource" class="min-w-full border rounded-xl">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let r">{{ r.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let r">{{ r.name }}</td>
      </ng-container>

      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef>Paciente</th>
        <td mat-cell *matCellDef="let r">{{ r.patientName }}</td>
      </ng-container>

      <ng-container matColumnDef="responsibleDoctor">
        <th mat-header-cell *matHeaderCellDef>Profissional</th>
        <td mat-cell *matCellDef="let r">{{ r.responsibleDoctor }}</td>
      </ng-container>

      <ng-container matColumnDef="patientDocument">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let r">{{ r.patientDocument }}</td>
      </ng-container>

      <ng-container matColumnDef="dicomModality">
        <th mat-header-cell *matHeaderCellDef>Modalidade</th>
        <td mat-cell *matCellDef="let r">{{ r.dicomModality }}</td>
      </ng-container>

      <ng-container matColumnDef="examDate">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let r">{{ r.examDate | date : 'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-right">Ações</th>
        <td mat-cell *matCellDef="let r" class="text-right">
          <button mat-stroked-button color="primary">Editar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-100 text-sm"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="hover:bg-gray-50 text-sm"
      ></tr>
    </table>
  </div>

  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="onPageChange($event)"
    class="border-t rounded-b-2xl shadow-inner"
  >
  </mat-paginator>
</div>
