

@use '@angular/material' as mat;
$primary-palette: mat.$azure-palette;
$accent-palette:  mat.$blue-palette;

html {
  @include mat.theme((
    color: (
      primary:  $primary-palette,
      tertiary: $accent-palette,
    ),
    typography: Roboto, // Pode customizar depois
    density: 0,         // Densidade do Material (0 = padrão)
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
